/* 
author: Jospeh Sutton
date: 04/03/24
file name: Styles.css
*/


/* scrolling rule */
html,
body {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

/* style rule for audio hover */
audio:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 3px 3px #333);
}

/* audio player style rules */
.player {
  width: 500px;
  height: 41px;
}

body,
html {
  height: 100%;
  color: #b9b9b9;
  line-height: 1.8;
  background-image: linear-gradient(to right,#1d1d1d,#551414);
}

/* style rule for vector logo */
.logo {
  width: 100%;
  max-width: 500px;
  filter: drop-shadow(2px 3px 3px #333);
}

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('../images/sunset-vinyl.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url('../images/bw-joeyfresh-vinyl.jpg');
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url('../images/customneedlelogo.jpg');
  min-height: 400px;
}

.w3-bar-item {
    display: none;
}

.w3-bar {
  background-color: black;
  height: 40px;
}

.w3-wide {
  letter-spacing: 10px;
}

.w3-hover-opacity {
  cursor: zoom-in;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 480px) {

  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}